.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 200px;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.one {
    padding: 64px 200px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.one-left-top {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.one-left-middle {
    color: #E5E7EB;
    font-size: 18px;;
}

.one-left-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    margin-top: 8px;
    border-radius: 16px;
    border: none;
}

.one-right {
    background-color: #8a95aa;
    width: 500px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-placeholder {
    color: #E5E7EB;
    font-size: 18px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-header {
    color: #1f2937;
    font-size: 32px;
    font-weight: bolder;
    margin: 48px;
}

.two-body {
    display: flex;
    gap: 50px;
    margin-bottom: 96px;
}

.two-card {
    width: 150px;
}

img {
    width: 150px;
    height: auto;
}

.text {
    text-align: center;
    font-size: 16px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

.three-quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 750px;
    margin-top: 125px;
}

.three-thor {
    color:#1f2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    width: 750px;
    margin-bottom: 98px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.four-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    flex: 1;
    border-radius: 25px;
}

.four-box-text {
    display: flex;
    flex-direction: column;
}

.four-box-text-top {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.four-box-text-bottom {
    color: #E5E7EB;
    font-size: 16px;
}

.four-box-button {
    color: #F9FAF8;
    border: #F9FAF8;
    font-size: 24px;
    text-align: center;
}

.four-button {
    background-color: transparent;
    color: #F9FAF8;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    margin-top: 8px;
    border-radius: 16px;
    border-color: #F9FAF8;
    border-width: 4px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}
